@use "./quasar.variables" as q;

@mixin addPageNumber($pageNo) {
  &::after {
    content: $pageNo;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    font-family: "Praise", cursive;
    font-size: larger;
    color: q.$black;
    text-align: center;
    text-decoration: underline;
  }
}

@mixin paperBg($bgColor: white, $lineColor: q.$black) {
  background-color: $bgColor !important;
  background-image: linear-gradient(
    $lineColor 0.05em,
    transparent 0.05em
  ) !important;
  background-size: 100% 2em !important;
  position: relative !important;
  box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1) !important;
}
