.u-font-praise {
  font-family: "Praise", cursive !important;
}

.u-font-roboto {
  font-family: "Roboto", serif !important;
}

.u-text-underline {
  text-decoration: underline !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}
